# Gradle files
.gradle/
build/
app/build/

# Local configuration file (sdk path, etc.)
local.properties

# Log files
*.log

# Keystore files
*.jks
*.keystore
debug.keystore.base64

# Android Studio / IntelliJ files
.idea/
*.iml
.navigation/

# OS files
.DS_Store
Thumbs.db
